@import "common";
@import "index";

$theme-color: #2aba88;

.title{
  font-size: 32px;
}

#home{
  padding-top: px2rem(135px);
}

.btn{
  width: px2rem(150px);
  height: px2rem(75px);

  outline: 0;
  border: 0;
  border-radius: px2rem(15px);

  &.btn-primary{
    background-color: $theme-color;
    color: #ffffff;
  }
}

.card{
  width: px2rem(716px);
  margin: px2rem(15px);

  background: #fff;
  height: auto;

  border-radius: px2rem(2px);

  word-wrap: break-word;

  margin-bottom: px2rem(15px);

  box-shadow: 0 -1px 0 #e0e0e0,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);


  .card-info{
    width: px2rem(686px);
    height: 100%;
    padding: px2rem(15px);

    .card-desc{
      font-size: 150%;
      line-height: 150%;
    }
    .card-date{
      font-size: 100%;
      line-height: 150%;
    }
    .card-from{
      font-size: 100%;
      line-height: 150%;
      color: #888888;
      margin-top: px2rem(10px);

    }
    .card-author{
      font-size: 100%;
      line-height: 120%;
      margin-top: px2rem(5px);

      color: #888888;
    }

  }

}

.random-button{
  position: fixed;

  right: px2rem(80px);
  bottom: px2rem(120px);

  width: px2rem(100px);
  height: px2rem(100px);

  border-radius: 50%;
  box-shadow: 0 -1px 0 #e0e0e0,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);

  background-color: #2aba88;

  font-size: 24px;
  line-height: px2rem(100px);
  text-align: center;
  color: #ffffff;
}

.fade-enter-active, .fade-leave-active {
  transition: all .4s
}
.fade-enter {
  opacity: 0.8;
  transform: scale(3);
}
.fade-leave-active {
  opacity: 0;
}

.up-enter-active, .up-leave-active {
  transition: all .5s
}
.up-enter, .up-leave-active {
  transform: translateY(px2rem(250px));
  opacity: .5;
}
